body {
  background-color: #aebfff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  background: #002027;
  background: linear-gradient(to right, #002027, #c471ed, #002027);
  background: linear-gradient(to right, #002027, #c471ed, #002027);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  max-height: 400px;
  margin-top: 150px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  height: 90vh;
  width: 100%;
  max-height: 600px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.input {
  width: 90%;
  height: 50%;
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}
.submit {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
  height: 80%;
  margin-top: 10%;
  transition-duration: 0.4s;
  cursor: pointer;
}
.submit:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.logo {
  width: 400px;
  height: auto;
  margin-bottom: -30px;
}

.validation {
  color: #bf1650;
  max-height: 20px;
  padding: 0px;
  margin: 0px;
}

.validation::before {
  display: inline;
  content: '⚠ ';
}

.type-btn-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.type-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  min-width: 150px;
  margin: 20px 0px;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(192, 192, 192, 0.5);
  border: none;
}

.type-btn:focus {
  background-color: #000000;
  color: white;
}

@media only screen and (max-width: 800px) {
  body {
    display: unset;
    margin: 0px;
  }
  .card {
    width: unset;
    border-radius: 0px;
    min-height: 100vh;
    padding: 0px;
    position: relative;
  }
  .input {
    min-height: 35px;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px !important;
  }
}
