.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  border-radius: 10px;
  height: 180px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 320px;
  height: auto;
  margin-bottom: -50px;
  margin-top: -10px;
}

@media only screen and (max-width: 800px) {
  body {
    display: unset;
    margin: 0px;
  }
  .card {
    width: unset;
    border-radius: 0px;
    min-height: 100vh;
    padding: 0px;
    position: relative;
  }
  .input {
    min-height: 35px;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0px !important;
  }
}
