.logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  border-radius: 10px;
  height: 180px;
}

.logo {
  width: 350px;
  height: auto;
  margin-bottom: -60px;
}
