body {
  background-color: #aebfff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  background: #12c2e9;

  background: linear-gradient(to right, #4fa5f6, #c471ed, #12c2e9);

  background: linear-gradient(to right, #4fa5f6, #c471ed, #12c2e9);
}
.caricon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 80vh;
  width: 35vw;
}
.input {
  background-color: #597eff;
  border-radius: 5px;
  margin: 5px;
  width: 258px;
  height: 32px;
}
.submit {
  background-color: #dbe3ff;
  border-radius: 5px;
  width: 150px;
  height: 32px;
  margin-top: 50%;
}
