.barcode-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pay-btns-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 25px;
}
.pay-btn {
  margin: 10px;
  border-radius: 10px;
  width: 100px;
}
